<!doctype html>
<html>
<head>
    <title>Flairs do /r/brasil</title>
       <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.load('visualization', '1.0', {'packages':['corechart']});      
      google.load("visualization", "1", {'packages':["geochart"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {

        //PIE
        var piedata = new google.visualization.DataTable();
        piedata.addColumn('string', 'UF');
        piedata.addColumn('number', 'Usuários');
        piedata.addRows([
          {% for key, value in uf_list %}
          ['{{siglas_estados[key]}}',{{value}}],
          {% endfor %}
        ]);
        var pieoptions = {'title':'Usuários do /r/brasil',
                       'width':600,
                       'height':600};
                       
        //MAP
        var mapdata = new google.visualization.arrayToDataTable([
            ['Estado','Usuários'],
            {% for key, value in uf_list %}
                {% if key != 'world' %}
                ['{{siglas_estados[key]}}',{{value}}],
                {% endif %}
            {% endfor %}
        ]);
        var mapoptions = {
        region: 'BR',
        displayMode: 'regions',
        resolution: 'provinces',
        width: 640,
        height: 480
        };
        
        var piechart = new google.visualization.PieChart(document.getElementById('chart_div'));
        piechart.draw(piedata, pieoptions);
        
        var geochart = new google.visualization.GeoChart(document.getElementById('visualization'));
        function handler(eventData){
            if(eventData.region.indexOf('BR-') > -1)
                window.open(eventData.region.replace('BR-',''),'_self');
        }
        google.visualization.events.addListener(geochart,'regionClick',handler);
        geochart.draw(mapdata,mapoptions);
      }
    </script>
</head>
<body>
    <h1>Localização dos usuários do /r/brasil</h1>
    <table>
    {% for key, value in uf_list %}
        <tr>
        <td><a href="/{{key}}">{{ key }}</a></td>
        <td>{{value}}</td>
        </td>
    {% endfor %}
    </table>
    <p>Total de usuários com flair: {{ numtotal }}</p>
    <div id="chart_div"></div>
    <div id="visualization"></div>
</body>
</html>