<!doctype html>
<html>
<head>
    <title>Flairs do /r/brasil</title>
       <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'UF');
        data.addColumn('number', 'Usuários');
        data.addRows([
          {% for key, value in uf_list %}
          ['{{key}}',{{value}}],
          {% endfor %}
        ]);

        // Set chart options
        var options = {'title':'Usuários do /r/brasil',
                       'width':600,
                       'height':600};

        // Instantiate and draw our chart, passing in some options.
        //var barchart = new google.visualization.BarChart(document.getElementById('chart_div'));
        //barchart.draw(data, options);
        
        var piechart = new google.visualization.PieChart(document.getElementById('chart_div'));
        piechart.draw(data, options);
      }
    </script>
</head>
<body>
    <h1>Localização dos usuários do /r/brasil</h1>
    <table>
    {% for key, value in uf_list %}
        <tr>
        <td><a href="/{{key}}">{{ key }}</a></td>
        <td>{{value}}</td>
        </td>
    {% endfor %}
    </table>
    <p>Total de usuários com flair: {{ numtotal }}</p>
    <div id="chart_div"></div>
</body>
</html>